@import '../../../scss/variables.scss';

.sidebar__info {
    width: 90%;
    height: 60%;
    color: $text_color;

}

.sidebar__info__item__icon {
    width: 50px;
    height: 50px;
}

@media (max-width: 600px) {}