@import '../../../scss/variables.scss';

.bar_chart {
    position: relative;
    height: 400px;
    width: 80%;
    font-size: 2vw;
    padding: 20px;

    svg {
        margin: 0 auto;
    }

}

@media (max-width: 500px) {
    .bar_chart {
        font-size: 4.5vw;

    }
}